{% load static %}

<div class="row question">
    <div class="col-3">
        <img src="{% static 'img/avatar_30.jpg' %}" id="main_ava">
        <div class="like">
          <button type ="button" class="plus_btn">&#128077</span> </button>
          <span class="counter">0</span>
          <button type ="button" class="minus_btn">&#128078</span> </button>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked"> Correct </label>
          </div>
        </div>
      </div>
    <div class="col-9">
        <h3>{{ answer.title }}</h3>
        <div>
            {{ answer.text }}
        </div>
    </div>
</div>
