{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block header %}
{% include "include/navbar.html" %}
{% endblock header %}
{% block link %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
<link href="{% static "css/common.css" %}" rel="stylesheet">
{% endblock link %}

{%block content%}
<h2 id="new_question">Log In</h2>
    {% if error_message %}
      <p class="error_log_message">{{ error_message }}</p> 
    {% endif %}
    <form class="login_form" method="POST" action="/login/?next={{ redirect_to }}" name="form" novalidate>  
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <input required type="submit" class="btn btn-outline-secondary form_log" id="hidden" value="Log in">
      {% endbuttons %}
      <div class="create account">
        <p><a href="{% url 'signup' %}">Create new account</a></p>
      </div>
    </form>
{% endblock content %}
{% block linkjs %}
<script type="text/javascript" src="{% static " js/login.js" %}"></script>
{% endblock linkjs %}