{% extends "include/base.html" %}
{% load static %}

{% block link %}
<link href="{% static "css/question.css" %}" rel="stylesheet">
{% endblock link %}

{% block content %}
{% include "include/singlequestion.html" %}
<div class="answer block">
  {% for answer in answers %}
    {% include "include/singleanswer.html" %}
  {% endfor %}

  {% include 'include/pagination.html' with content=answers %}
</div>


<form>
  <textarea class="form-control"  rows="4" placeholder="Enter your answer here.."></textarea>
  <button type="button" class="btn btn-secondary btn_answer">Answer</button>
</form>
{% endblock content %}
